<div class="container-page">
  <mat-card class="mini-card" appearance="outlined" (click)="crearMatricula()">
    <mat-card-content class="mini-card-content">
      <img src="../../../assets/images/notes.png" width="50" height="50" alt="Icono matrícula">
      <p mat-raised-button color="secondary" >Matrícula</p>
    </mat-card-content>
  </mat-card>


  <div class="container-page">
    <mat-card class="mini-card" appearance="outlined" (click)="historialMatricula()">
      <mat-card-content class="mini-card-content">
        <img src="../../../assets/images/notes.png" width="50" height="50" alt="Icono matrícula">
        <p mat-raised-button color="secondary" >Historial Académico</p>
      </mat-card-content>
    </mat-card>
  
</div>