<nav class="navbar" *ngIf="!isLoginPage">
  <ul class="navbar-list">
    <li class="navbar-item"><a [routerLink]="['/provincias']" class="navbar-link">Provincias</a></li>
    <li class="navbar-item"><a [routerLink]="['/usuarios']" class="navbar-link">Usuarios</a></li>
    <li class="navbar-item"><a [routerLink]="['/cursos']" class="navbar-link">Cursos</a></li>
    <li class="navbar-item"><a [routerLink]="['/materias']" class="navbar-link">Materias</a></li>
    <li class="navbar-item"><a [routerLink]="['/historial']" class="navbar-link">Historial</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>