<table mat-table [dataSource]="materias()" class="mat-elevation-z8">
    <!-- Columna ID -->
    <ng-container matColumnDef="idMateria">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let materia"> {{ materia.idMateria }} </td>
    </ng-container>
    

    
    <!-- Columna Descripción -->
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef> descripcion </th>
        <td mat-cell *matCellDef="let materia"> {{ materia.descripcion }} </td>
    </ng-container>
    

    <!-- Columna Estado -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let materia"> {{ materia.estado }} </td>

    <!-- Columna Acciones -->
    <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Acción </th>
        <td mat-cell *matCellDef="let materia">
        <button mat-icon-button (click)="editarMateria(materia.idMateria)">
            <mat-icon>edit</mat-icon>
        </button> 
        </td>
    </ng-container>
    
    <!-- Header y filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

